.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4vh;
  height: calc(90vh - max(30vh, 40px));
  padding: 0 2vw 3vh;
}

.boxView {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 6vw;
}

.exit {
  width: 8vw;
  height: 8vw;
  max-width: 16vh;
  max-height: 16vh;
  color: var(--foreground);
  font-size: max(12px, min(3.5vw, 3.5vh));
  font-weight: 600;
  background-color: var(--button-2);
  border: min(0.6vw, 0.6vh) solid var(--border);
  border-radius: min(1vw, 1vh);
  transition: all 0.2s;
  cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 3vh;
    column-gap: 3vw;
}

.icon {
  width: 8vw;
  height: 8vw;
  max-width: 16vh;
  max-height: 16vh;
  color: var(--foreground);
  font-size: max(12px, min(3.5vw, 3.5vh));
  font-weight: 600;
  background-color: var(--button-2);
  border: min(0.6vw, 0.6vh) solid var(--border);
  border-radius: min(1vw, 1vh);
  padding: min(0.4vw, 0.4vh);
  transition: all 0.2s;
}

.icon.on {
  background-color:blanchedalmond;
  border: min(0.8vw, 0.8vh) solid orange;
  box-shadow: 0 0 min(0.8vw, 0.8vh) gold;
}

@media (hover: hover) {
  .info .exit:hover {
    transform: scale(1.1);
  }

  .info .exit:active {
    transform: scale(0.9);
  }
}

@media (hover: none) {
    .info .exit:active {
      transform: scale(0.8);
    }
}

@media only screen and (max-width: 700px) {
  .info, .content {
    align-items: center;
  }
  .info {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 2vh;
    height: auto;
    padding: 6vh max(16px, 8vw) 0;
  }
  .boxView {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .content {
    flex-direction: row;
    justify-content: center;
    column-gap: 6vw;
    row-gap: 4px;
  }
  .exit, .icon {
    width: 14vw;
    height: 14vw;
  }
}