.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 5vh;
  margin-bottom: max(1px, 8vh);
}

.container button {
  position: relative;
  width: 35vh;
  height: 20vh;
  max-width: 70vw;
  max-height: 40vw;
  background-color: var(--button);
  border: min(1.8vw, 0.8vh) solid var(--border);
  border-radius: min(4vw, 2vh);
  color: var(--foreground);
  font-size: max(16px, min(12vw, 5vh));
  font-weight: 500;
  text-shadow: 0 0 max(2px, min(0.6vw, 0.4vh)) black;
  transition: all 0.2s;
  cursor: pointer;
  overflow: hidden;
}
.container button.disabled {
  opacity: 0.5;
  pointer-events: none;
  touch-action: none;
}

.container button .online {
  position: absolute;
  top: min(1.5vw, 1.5vh);
  right: min(1.5vw, 1.5vh);
  width: min(3vw, 1.5vh);
  height: min(3vw, 1.5vh);
  background-color: coral;
  box-shadow: 0 0 max(2px, min(0.6vw, 0.4vh)) coral;
  border-radius: min(1.5vw, 1.5vh);
}

.container button .online.on {
  background-color:darkcyan;
  box-shadow: 0 0 max(2px, min(0.6vw, 0.4vh)) darkcyan;
}

@media (hover: hover) {
  .container button:hover {
    transform: scale(1.06);
  }
  .container button:active {
    transform: scale(0.9);
  }
}

@media (hover:none) {
  .container button:active {
    transform: scale(0.8);
  }
}
