@keyframes blur {
    from {
        backdrop-filter: blur(0);
    }
}
.messagebox {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(max(1vw, 0.8vh));
    animation: blur 0.4s;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
    background-color: var(--background);
    border: max(4px, min(1.8vw, 0.8vh)) solid var(--border);
    border-radius: max(8px, min(4vw, 2vh));
}

.content p {
    font-size: max(18px, 4vh);
    font-weight: 600;
    padding-top: 5vh;
    margin: auto 2vw;
}

.content .btnsView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 3vh;
    column-gap: 3vh;
    width: 100%;
    padding: 4vh;
}

.content .btnsView button {
    flex: 1;
    height: 8vh;
    min-width: 120px;
    min-height: 40px;
    background-color: var(--button);
    border: max(2px, min(1vw, 0.4vh)) solid var(--border);
    border-radius: min(3vw, 1.5vh);
    color: var(--foreground);
    font-size: max(12px, min(5vw, 2.6vh));
    font-weight: 600;
    transition: all 0.2s;
    cursor: pointer;
}

@media (hover: hover) {
    .content .btnsView button:hover {
        transform: scale(1.1);
    }
    .content .btnsView button:active {
        transform: scale(0.9);
    }
}
@media (hover: none) {
    .content .btnsView button:active {
        transform: scale(0.8);
    }
}