.container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container canvas{
    width: 100vw;
    max-width: calc(100vh - max(30vh, 40px));
    aspect-ratio: 1;
    cursor: pointer;
}

.yourturn {
  position: absolute;
  top: 4vh;
  right: 3vw;
  color: cornflowerblue;
  font-size: max(16px, min(8vw, 4vh));
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 max(2px, min(0.4vw, 0.4vh)) cornflowerblue;
}
  

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .yourturn {
        top: 3vh;
        left: 0;
        right: 0;
        font-size: max(16px, min(6vw, 3vh));
    }
}